* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    color: white;

    background:
        radial-gradient(
            circle at 50% 40%,
            #45004f,
            #100020 45%,
            #05000d
        );

    min-height: 100vh;
}


/* HEADER */

header {
    padding: 25px 8%;
}

nav {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

nav h1 {
    font-size: 22px;
}

nav h1 span {
    color: #d900ff;
}

.menu {
    display: flex;

    gap: 30px;
}

.menu a {
    color: white;

    text-decoration: none;

    font-size: 13px;
}

.menu a:hover {
    color: #d900ff;
}


/* INICIO */

.inicio {
    min-height: 65vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 50px 20px;
}

.subtitulo {
    color: #e100ff;

    font-size: 12px;

    letter-spacing: 4px;

    margin-bottom: 20px;
}

.inicio h2 {
    font-size: 75px;

    letter-spacing: -3px;

    margin-bottom: 20px;
}

.descripcion {
    color: #aaa3b2;

    max-width: 500px;

    margin-bottom: 30px;
}

button {
    border: none;

    color: white;

    background:
        linear-gradient(
            90deg,
            #8500ff,
            #ed008c
        );

    padding: 12px 25px;

    border-radius: 25px;

    cursor: pointer;

    font-size: 11px;

    letter-spacing: 1px;
}

button:hover {
    opacity: 0.8;
}


/* OPCIONES */

.opciones {
    text-align: center;

    padding: 30px 8% 70px;
}

.opciones h3 {
    margin-bottom: 25px;

    font-size: 20px;
}

.opciones-grid {
    max-width: 800px;

    margin: auto;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 12px;
}

.opciones-grid a {
    padding: 15px;

    color: white;

    text-decoration: none;

    background:
        rgba(255,255,255,0.05);

    border:
        1px solid rgba(255,255,255,0.1);

    border-radius: 8px;

    font-size: 13px;
}

.opciones-grid a:hover {
    background:
        rgba(170,0,255,0.2);

    border-color: #c000ff;
}


/* FOOTER */

footer {
    text-align: center;

    padding: 20px;

    color: #68616f;

    font-size: 11px;
}


/* RESPONSIVE */

@media (max-width: 700px) {

    .menu {
        display: none;
    }

    .inicio h2 {
        font-size: 50px;
    }

    .opciones-grid {
        grid-template-columns: 1fr 1fr;
    }

}